body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container{
  text-align: center;
  background-color: gray;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.pop-up{
  display: flex;
  flex-direction: column;
  margin: 1% 15%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: bisque;
  padding: 1%;
}
.pop-up button{
  width: 100px;
  cursor: pointer;
  margin-left: 90%;
 
  margin-bottom: 1%;
}
iframe{
  width: 100%;
  height: 500px;
}